/* DISPLAY MIXINS ============================================================================= */

@mixin display() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $display in $displays {
      @if $size == 'xl' {
        .#{$name} {
          display: $display;
        }
        @include placeholder(#{$name}) {
          display: $display;
        }
      } @else {
        @include mq($size) {
          .#{$size}-#{$name} {
            display: $display;
          }
        }
        @include placeholder(#{$size}-#{$name}) {
          display: $display;
        }
      }
    }
  }
}
