/* STROKE WIDTH MIXINS ============================================================================= */

@mixin stroke() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $strokeWidth in $strokeWidths {
      @if $size == 'xl' {
        .stroke-#{$name} {
          stroke-width: $strokeWidth;
        }
        @include placeholder(stroke-#{$name}) {
          stroke-width: $strokeWidth;
        }
      } @else {
        @include mq($size) {
          .#{$size}-stroke-#{$name} {
            stroke-width: $strokeWidth;
          }
        }
        @include placeholder(#{$size}-stroke-#{$name}) {
          stroke-width: $strokeWidth;
        }
      }
    }
  }
}
