/* FONT WEIGHT MIXINS ============================================================================= */

@mixin weight() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $weight in $fontWeight {
      @if $size == 'xl' {
        .font-#{$name} {
          font-weight: $weight;
        }
        @include placeholder(font-#{$name}) {
          font-weight: $weight;
        }
      } @else {
        @include mq($size) {
          .#{$size}-font-#{$name} {
            font-weight: $weight;
          }
        }
        @include placeholder(#{$size}-font-#{$name}) {
          font-weight: $weight;
        }
      }
    }
  }
}
