/* ROWS MIXINS ============================================================================= */

@mixin row() {
  @each $size, $breakpoint in $breakpoints {
    @if $size == 'xl' {
      @for $i from 1 through $rows {
        .row-span-#{$i} {
          grid-row: span $i / span $i;
        }
        @include placeholder(row-span-#{$i}) {
          grid-row: span $i / span $i;
        }
      }
    } @else {
      @include mq($size) {
        @for $i from 1 through $rows {
          .#{$size}-row-span-#{$i} {
            grid-row: span $i / span $i;
          }
        }
      }
      @for $i from 1 through $rows {
        @include placeholder(#{$size}-row-span-#{$i}) {
          grid-row: span $i / span $i;
        }
      }
    }
  }
}

@mixin rowStart() {
  @each $size, $breakpoint in $breakpoints {
    @if $size == 'xl' {
      @for $i from 1 through $rows {
        .row-start-#{$i} {
          grid-row-start: $i;
        }
        @include placeholder(row-start-#{$i}) {
          grid-row-start: $i;
        }
      }
    } @else {
      @include mq($size) {
        @for $i from 1 through $rows {
          .#{$size}-row-start-#{$i} {
            grid-row-start: $i;
          }
        }
      }
      @for $i from 1 through $rows {
        @include placeholder(#{$size}-row-start-#{$i}) {
          grid-row-start: $i;
        }
      }
    }
  }
}
