.js .contact__header {
  animation-delay: 0.2s;
  animation-duration: 0.6s;
}

.js .contact__box .contact__anim:before {
  animation-delay: 0.4s;
  animation-duration: 0.6s;
}

.js .contact .content.in-view .contact__box .contact__anim:before {
  animation-name: width;
  animation-fill-mode: forwards;
  transition: width 0.3s ease-in-out;
}

.js .contact__form .field:first-child input {
  animation-delay: 0.6s;
  animation-duration: 0.4s;
}

.js .contact__form .field:nth-child(2) input {
  animation-delay: 0.8s;
  animation-duration: 0.4s;
}

.js .contact__form .field:nth-child(1) label {
  animation-delay: 0.8s;
  animation-duration: 0.4s;
}


.js .contact__form .field:nth-child(2) label {
  animation-delay: 1s;
  animation-duration: 0.4s;
}

.js .contact__form .form-btn {
  animation-delay: 1.2s;
  animation-duration: 0.4s;
}
