.site-footer {
  @extend .margin-top-100;

  @include mq(m) {
    @extend .m-margin-top-60;
  }
  @include mq(sm) {
    @extend .sm-margin-top-40;
  }
}

.site-footer__wrapper {
  @extend .inline-grid,
  .grid-cols-11,
  .col-gap,
  .align-items-center,
  .relative;
  height: 150px;

  @include mq(l) {
    @extend .l-col-gap;
  }
  @include mq(sm) {
    @extend .sm-col-gap,
    .sm-grid-cols-6;
    grid-row-gap: 0;
  }
  @include mq(s) {
    @extend .s-padding-top-20,
    .s-padding-bottom-20;
    height: auto;
  }
}

.site-footer__wrapper:after {
  @extend .absolute,
  .flex,
  .bg-athens-grey,
  .width-full;
  content: '';
  height: 150px;
  top: 0;
  left: 100%;

  @include mq(sm) {
    @extend .sm-hidden;
  }
}

.site-footer__copyright p {
  @extend .color-cloudburst,
  .font-sofia-med,
  .body-small,
  .flex,
  .align-items-center;

  @include mq(s) {
    @extend .s-margin-bottom-20;
  }
}

.site-footer__copyright .icon {
  @extend .margin-right-5,
  .margin-left-5;
}

.site-footer__copyright svg {
  max-width: 12px;
  width: 100%;
}

.site-footer__social .social__item:last-child {
  @extend .margin-left-20;
}
