/* RESIZE MIXINS ============================================================================= */

@mixin cursorTypes() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $resize in $resizer {
      @if $size == 'xl' {
        .resize-#{$name} {
          resize: $resize;
        }
        @include placeholder(resize-#{$name}) {
          cursor: $resize;
        }
      } @else {
        @include mq($size) {
          .#{$size}-resize-#{$name} {
            resize: $resize;
          }
        }
        @include placeholder(#{$size}-resize-#{$name}) {
          resize: $resize;
        }
      }
    }
    @if $size == 'xl' {
      .resize {
        resize: both;
      }
      @include placeholder(resize) {
        resize: both;
      }
    } @else {
      @include mq($size) {
        .#{$size}-resize {
          resize: both;
        }
      }
      @include placeholder(#{$size}-resize) {
        resize: both;
      }
    }
  }
}
