/* CONTAINER GUTTER MIXINS ============================================================================= */

@mixin container-gutter() {
  @each $name, $containerGutter in $containerGutters {
    @if $name == 'xl' {
      .container {
        padding: 0 $containerGutter;
      }
      .container-no-padding {
        padding: 0;
      }
      @include placeholder(container) {
        padding: 0 $containerGutter;
      }
      @include placeholder(container-no-padding) {
        padding: 0;
      }
    } @else {
      @include mq($name) {
        .#{$name}-container {
          padding: 0 $containerGutter;
        }
        .#{$name}-container-no-padding {
          padding: 0;
        }
      }
      @include placeholder(#{$name}-container) {
        padding: 0 $containerGutter;
      }
      @include placeholder(#{$name}-container-no-padding) {
        padding: 0;
      }
    }
  }
}
