/* COLUMNS MIXINS ============================================================================= */

@mixin column() {
  @each $size, $breakpoint in $breakpoints {
    @if $size == 'xl' {
      @for $i from 1 through $columns {
        .col-span-#{$i} {
          grid-column: span $i / span $i;
        }
        @include placeholder(col-span-#{$i}) {
          grid-column: span $i / span $i;
        }
      }
    } @else {
      @include mq($size) {
        @for $i from 1 through $columns {
          .#{$size}-col-span-#{$i} {
            grid-column: span $i / span $i;
          }
        }
      }
      @for $i from 1 through $columns {
        @include placeholder(#{$size}-col-span-#{$i}) {
          grid-column: span $i / span $i;
        }
      }
    }
  }
}

@mixin columnStart() {
  @each $size, $breakpoint in $breakpoints {
    @if $size == 'xl' {
      @for $i from 1 through $columns {
        .col-start-#{$i} {
          grid-column-start: $i;
        }
        @include placeholder(col-start-#{$i}) {
          grid-column-start: $i;
        }
      }
    } @else {
      @include mq($size) {
        @for $i from 1 through $columns {
          .#{$size}-col-start-#{$i} {
            grid-column-start: $i;
          }
        }
      }
      @for $i from 1 through $columns {
        @include placeholder(#{$size}-col-start-#{$i}) {
          grid-column-start: $i;
        }
      }
    }
  }
}
