.contact__header {
  @extend .margin-top-10;
}

.contact__box .contact__anim {
  @extend .absolute,
  .flex;
  width: calc(100% + 80px);
  height: 100%;
  left: -40px;
  top: 0;
  z-index: -1;

  @include mq(l) {
    width: calc(100% + 60px);
    left: -30px;
  }
}

.contact__box .contact__anim:before {
  @extend .bg-french-rose,
  .shadow-xl,
  .flex;
  content: '';
}

.contact__form {
  @extend .margin-top-60,
  .flex,
  .flex-col,
  .relative;
  z-index: 2;
}

.contact__form .field--button {
  @extend .margin-bottom-0;
}

.contact__form input {
  @extend .padding-left-0,
  .padding-right-0;
  text-indent: 20px;
  white-space: nowrap;
}

