/* BORDER WIDTHS MIXINS ============================================================================= */

@mixin borderWidths() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $borderWidth in $borderWidths {
      @each $pos, $borderPosition in $borderWidthPositions {
        @if $size == 'xl' {
          @if $borderPosition != 'all' {
            .border-#{$borderPosition}-#{$name} {
              border-#{$pos}-width: $borderWidth;
            }
            @include placeholder(border-#{$borderPosition}-#{$name}) {
              border-#{$pos}-width: $borderWidth;
            }
          } @else {
            .border-#{$name} {
              border-width: $borderWidth;
            }
            @include placeholder(border-#{$name}) {
              border-width: $borderWidth;
            }
          }
        } @else {
          @if $borderPosition != 'all' {
            @include mq($size) {
              .#{$size}-border-#{$borderPosition}-#{$name} {
                border-#{$pos}-width: $borderWidth;
              }
            }
            @include placeholder(#{$size}-border-#{$borderPosition}-#{$name}) {
              border-#{$pos}-width: $borderWidth;
            }
          } @else {
            @include mq($size) {
              .#{$size}-border-#{$name} {
                border-width: $borderWidth;
              }
            }
            @include placeholder(#{$size}-border-#{$name}) {
              border-width: $borderWidth;
            }
          }
        }
      }
    }
  }
}
