/* BORDER COLOUR MIXINS ============================================================================= */

@mixin borderColor() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $color in $colors {
      @if $size == 'xl' {
        .border-#{$name} {
          border-color: $color;
        }
        @include placeholder(border-#{$name}) {
          border-color: $color;
        }
      } @else {
        @include mq($size) {
          .#{$size}-border-#{$name} {
            border-color: $color;
          }
        }
        @include placeholder(#{$size}-border-#{$name}) {
          border-color: $color;
        }
      }
    }
  }
}

@mixin borderColorRgba() {
  $rgba: 10;
  @for $i from 0 through $rgba {
    @each $size, $breakpoint in $breakpoints {
      @each $name, $color in $colors {
        @if $size == 'xl' {
          .border-#{$name}-#{$i} {
            $rgba: $i / 10;
            border-color: rgba($color, $rgba);
            $rgba: $i * 10;
          }
          @include placeholder(border-#{$name}-#{$i}) {
            $rgba: $i / 10;
            border-color: rgba($color, $rgba);
            $rgba: $i * 10;
          }
        } @else {
          @include mq($size) {
            .#{$size}-border-#{$name}-#{$i} {
              $rgba: $i / 10;
              border-color: rgba($color, $rgba);
              $rgba: $i * 10;
            }
          }
          @include placeholder(#{$size}-border-#{$name}-#{$i}) {
            $rgba: $i / 10;
            border-color: rgba($color, $rgba);
            $rgba: $i * 10;
          }
        }
      }
    }
  }
}
