/* GAP MIXINS ============================================================================= */

@mixin colGap() {
  @each $name, $gutter in $gridGutter {
    @if $name == 'xl' {
      .col-gap {
        column-gap: $gutter;
      }
      @include placeholder(col-gap) {
        column-gap: $gutter;
      }
    } @else {
      @include mq($name) {
        .#{$name}-col-gap {
          column-gap: $gutter;
        }
      }
      @include placeholder(#{$name}-col-gap) {
        column-gap: $gutter;
      }
    }
  }
}

@mixin rowGap() {
  @each $name, $gutter in $gridGutter {
    @if $name == 'xl' {
      .row-gap {
        row-gap: $gutter;
      }
      @include placeholder(row-gap) {
        row-gap: $gutter;
      }
    } @else {
      @include mq($name) {
        .#{$name}-row-gap {
          row-gap: $gutter;
        }
      }
      @include placeholder(#{$name}-row-gap) {
        row-gap: $gutter;
      }
    }
  }
}
