/* SET BASE MEDIA SIZES ============================================================================= */
$breakpoints: (
  xl: 1920px,
  l: 1440px,
  m: 1024px,
  sm: 768px,
  s: 375px
);

$breakpointsMin: (
  xl-min: 1441px,
  l-min: 1025px,
  m-min: 769px,
  sm-min: 376px
);

$xl: 1920px;
$l: 1440px;
$m: 1024px;
$sm: 768px;
$s: 375px;

$xl-min: 1441px;
$l-min: 1025px;
$m-min: 769px;
$sm-min: 376px;

$default-breakpoint: root;
$current-breakpoint: $default-breakpoint;
$placeholders: ();
