/* OVERFLOWS MIXINS ============================================================================= */

@mixin overflow() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $overflow in $overflows {
      @if $size == 'xl' {
        .overflow-#{$name} {
          overflow: $overflow;
        }
        @include placeholder(overflow-#{$name}) {
          overflow: $overflow;
        }
        .overflow-x-#{$name} {
          overflow-x: $overflow;
        }
        @include placeholder(overflow-x-#{$name}) {
          overflow-x: $overflow;
        }
        .overflow-y-#{$name} {
          overflow-y: $overflow;
        }
        @include placeholder(overflow-y-#{$name}) {
          overflow-y: $overflow;
        }
      } @else {
        @include mq($size) {
          .#{$size}-overflow-#{$name} {
            overflow: $overflow;
          }
          .#{$size}-overflow-x-#{$name} {
            overflow-x: $overflow;
          }
          .#{$size}-overflow-y-#{$name} {
            overflow-y: $overflow;
          }
        }
        @include placeholder(#{$size}-overflow-#{$name}) {
          overflow: $overflow;
        }
        @include placeholder(#{$size}-overflow-x-#{$name}) {
          overflow-x: $overflow;
        }
        @include placeholder(#{$size}-overflow-y-#{$name}) {
          overflow-y: $overflow;
        }
      }
    }
  }
}
