<!doctype html>
<html dir="ltr" lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-language" content="en-gb">
  <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="${require('@/icons/favicon.ico')}">
  <link rel="apple-touch-icon" sizes="180x180" href="${require('@/icons/apple-touch-icon.png')}">
  <link rel="icon" type="image/png" sizes="32x32" href="${require('@/icons/favicon-32x32.png')}">
  <link rel="icon" type="image/png" sizes="16x16" href="${require('@/icons/favicon-16x16.png')}">
  <link rel="manifest" href="${require('@/icons/site.webmanifest')}">
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#1f2c41">
  <meta name="theme-color" content="#F1F2F6">
  <title>Brum Tech Tapas - Bitesize culture from Brum's Tech scene</title>
  <meta property="og:site_name" content="Brum Tech Tapas">
  <meta property="og:title" content="Brum Tech Tapas">
  <meta property="og:type" content="website">
  <meta property="og:image" content="">
  <meta property="og:url" content="brumtechtapas.co.uk">
  <meta property="og:description"
        content="It’s well known that people in the City of 1000 Trades rarely promote themselves.
          So, we thought: why not use our experience in Tech Events to showcase the region's amazing people beyond the industry we know?
          This is Brum Tech Tapas, and we love people making a difference, whatever they do.">
  <meta property="twitter:card" content="">
  <meta name="twitter:image:alt"
        content="">
  <meta name="description" content="It’s well known that people in the City of 1000 Trades rarely promote themselves.
          So, we thought: why not use our experience in Tech Events to showcase the region's amazing people beyond the industry we know?
          This is BrumTechTapas, and we love people making a difference, whatever they do.">
  <meta name="keywords" content="">
  <link rel="dns-prefetch" href="https://use.typekit.net/">
  <link rel="preconnect" href="https://use.typekit.net/" crossorigin>
  <link rel="dns-prefetch" href="https://p.typekit.net/">
  <link rel="preconnect" href="https://p.typekit.net/" crossorigin>
  <link rel="stylesheet" href="https://use.typekit.net/vvu3bpw.css">


</head>
<body>
  <div class="site-wrapper flex flex-col justify-content-center">
    ${require('views/partials/global/header.html')}
    <main>
      ${require('views/partials/components/mast-head.html')}
      ${require('views/partials/components/event.html')}
      ${require('views/partials/components/speakers.html')}
      ${require('views/partials/components/about.html')}
      <!-- ${require('views/partials/components/contact.html')} -->

      ${require('views/partials/overlays/casey-bailey.html')}
      ${require('views/partials/overlays/victoria-barker.html')}
      ${require('views/partials/overlays/fokawolf.html')}
      ${require('views/partials/overlays/joe-schuppler.html')}
    </main>
    ${require('views/partials/global/footer.html')}
  </div>
</body>
</html>
