.site-footer {
  @extend .margin-top-100,
  .flex;
  align-items: stretch;
  height: 150px;

  @include mq(m) {
    @extend .m-margin-top-60;
  }
  @include mq(sm) {
    @extend .sm-margin-top-40;
  }
}

.site-footer__copyright {
  @extend .inline-flex,
  .align-items-center;

  @include mq(sm) {
    order: 3;
    @extend .sm-margin-top-20,
    .sm-justify-content-center;
  }
}

.site-footer__copyright p {
  @extend .color-cloudburst,
  .font-sofia-med,
  .body-small,
  .flex,
  .align-items-center;
}

.site-footer__copyright .icon {
  @extend .margin-right-5,
  .margin-left-5;
}

.site-footer__copyright svg {
  max-width: 12px;
  width: 100%;
}

.site-footer__social {
  @include mq(sm) {
    @extend .sm-margin-top-20;
    order: 2;
  }
}

.site-footer__social .social {
  @include mq(sm) {
    @extend .sm-justify-content-center;
  }
}

.site-footer__social .social__item {
  @extend .margin-left-10;
  @extend .color-cloudburst,
  .font-sofia-semi,
  .body-small,
}

.site-footer__social .svg-twitter {
  @extend .fill-cloudburst;
}

.site-footer__links {
  @extend .flex,
  .justify-content-center,
  .align-items-center;

  @include mq(sm) {
   order: 1;
  }
}

.site-footer__links li {
  @extend .margin-left-5,
  .margin-right-5;
}

.site-footer__links a {
  @extend .color-cloudburst,
  .font-sofia-med,
  .body-small,
  .text-underline;
}
