.overlay {
  @extend .bg-cloudburst,
  .hidden,
  .fixed,
  .width-full,
  .overflow-y-scroll,
  .padding-bottom-40;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.overlay__close {
  @extend .bg-cloudburst,
  .inline-flex,
  .justify-content-end,
  .padding-top-40,
  .padding-bottom-40,
  .sticky;
  top: 0;
  z-index: 5;

  @include mq(m) {
    @extend .m-padding-top-20,
    .m-padding-bottom-20,
  }
}

.overlay__close p {
  @extend .flex,
  .align-items-end,
  .cursor-pointer;
}

.overlay__close .link {
  @extend .body-medium;
}


.overlay__close .icon {
  @extend .relative,
  .margin-left-10 ;
  top: 2px;
  width: 12px;
}

.overlay__content {
  @extend .inline-grid,
  .grid-cols-12,
  .col-gap,
  .align-items-start;

  @include mq(l) {
    @extend .l-col-gap;
  }
  @include mq(sm) {
    @extend .sm-grid-cols-6,
    .sm-col-gap;
  }
}
