/* WORD BREAK MIXINS ============================================================================= */

@mixin workBreak() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $break in $breaks {
      @if $size == 'xl' {
        .break-#{$name} {
          list-style-type: $break;
        }
        @include placeholder(break-#{$name}) {
          list-style-type: $break;
        }
      } @else {
        @include mq($size) {
          .#{$size}-break-#{$name} {
            list-style-type: $break;
          }
        }
        @include placeholder(#{$size}-break-#{$name}) {
          list-style-type: $break;
        }
      }
    }
  }
}
