<article id="angela-kumah" class="overlay">
  <div class="container l-container sm-container">
    <div class="content">
      <div class="overlay__close col-span-12 sm-col-span-6">
        <p class="overlay__close-btn">
          <span class="link">Close</span>
          <span class="icon icon--close">${require('@/svgs/close.svg')}</span>
        </p>
      </div>
      <div class="overlay__content col-span-12 sm-col-span-6">
        <div class="speaker__overview col-span-4 col-start-2 m-col-start-1 sm-col-span-3 sm-row-start-1 s-col-span-5">
          <div class="speaker__image img bg-french-rose shadow-xl">
            <img src="${require('@/images/speakers/angela-kumah.jpg')}"
                 alt="Angela Kumah"
                 class="width-full img__absolute img__multiply"
            />
          </div>
          <div class="speaker__bio sm-hidden">
            <h2 class="header-five speaker__position">PhD researcher</h2>
            <p>Angela is currently a PhD researcher at Birmingham City University. Her current research is focused on improving culturally sensitive mental health promotion interventions at the community level, especially among BAME groups in Birmingham.</p>
            <ul class="social">
              <li class="social__item">
                <a href="https://twitter.com/drbrainy_parts" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/twitter.svg')}
                        </span>
                  @Drbrainy_parts
                </a>
              </li>
              <li class="social__item">
                <a href="https://instagram.com/itz_dzidzi" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/instagram.svg')}
                        </span>
                  itz_dzidzi
                </a>
              </li>
              <li class="social__item">
                <a href="https://www.linkedin.com/in/angelakumah150118" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/linkedin.svg')}
                        </span>
                  angelakumah150118
                </a>
              </li>
              <li class="social__item">
                <a href="https://ucanbirmingham.org/" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/link.svg')}
                        </span>
                    www.ucanbirmingham.org
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="speaker__details col-span-6 col-start-7 m-col-span-7 m-col-start-6 sm-col-span-4 sm-col-start-3 sm-row-start-1 s-col-span-6 s-col-start-1 s-row-start-2">
          <header class="speaker__header col-span-6">
            <h2 class="header-one speaker__name">Angela Kumah</h2>
            <h3 class="header-four speaker__talk">Resilience &amp; recovery- The relevance of Appreciative inquiry post-COVID</h3>
          </header>
          <div class="speaker__info col-span-5 l-col-span-6">
            <p>As we slowly advance into a phase of recovery, following the dire effects of the COVID-19 pandemic, many aspects of our lives we must be re-evaluated. However, we must also take note of the resilience that has been displayed and the successes achieved when racial, religious and social barriers come down, as we have seen within our city, in these trying times. Going forward, how do we capitalize on these successes to alleviate city wide health inequalities? Appreciative inquiry (AI), an organizational development framework (Cooperrider, and Srivastva, 1987), offers a strength and solution-focused approach proficient in discovering the areas of culture and social values that enhance health and wellbeing. By focusing on what works best, there is the potential to capitalize on identified strengths to facilitate efforts towards long-lasting solutions to health and wellbeing concerns within our city.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
