<article id="laurence-butler" class="overlay">
  <div class="container l-container sm-container">
    <div class="content">
      <div class="overlay__close col-span-12 sm-col-span-6">
        <p class="overlay__close-btn">
          <span class="link">Close</span>
          <span class="icon icon--close">${require('@/svgs/close.svg')}</span>
        </p>
      </div>
      <div class="overlay__content col-span-12 sm-col-span-6">
        <div class="speaker__overview col-span-4 col-start-2 m-col-start-1 sm-col-span-3 sm-row-start-1 s-col-span-5">
          <div class="speaker__image img bg-french-rose shadow-xl">
            <img src="${require('@/images/speakers/laurence-butler.jpg')}"
                 alt="Laurence Butler"
                 class="width-full img__absolute img__multiply"
            />
          </div>
          <div class="speaker__bio sm-hidden">
            <h2 class="header-five speaker__position">Engaging audiences, Museum style</h2>
            <ul class="social">
              <li class="social__item">
                <a href="https://twitter.com/Thinktankmuseum" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/twitter.svg')}
                        </span>
                  @Thinktankmuseum
                </a>
              </li>
              <li class="social__item">
                <a href="https://www.facebook.com/thinktankmuseum/" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/facebook.svg')}
                        </span>
                  thinktankmuseum
                </a>
              </li>
              <li class="social__item">
                <a href="http://instagram.com/Thinktankmuseum" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/instagram.svg')}
                        </span>
                  Thinktankmuseum
                </a>
              </li>
              <li class="social__item">
                <a href="https://www.birminghammuseums.org.uk/thinktank" rel="noreferrer" class="social__link">
                        <span class="social__icon social__icon--small">
                          ${require('@/svgs/link.svg')}
                        </span>
                  www.Birminghammuseums.org.uk/Thinktank
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="speaker__details col-span-6 col-start-7 m-col-span-7 m-col-start-6 sm-col-span-4 sm-col-start-3 sm-row-start-1 s-col-span-6 s-col-start-1 s-row-start-2">
          <header class="speaker__header col-span-6">
            <h2 class="header-one speaker__name">Laurence Butler</h2>
            <h3 class="header-four speaker__talk">Engaging audiences</h3>
          </header>
          <div class="speaker__info col-span-5 l-col-span-6">
            <p>Museum visitors are as varied as the displays and objects we look after. Finding the right tools and questions to stop and then engage the multitude of individuals moving through the galleries on a daily basis is a complicated business. From creating new galleries, running themed programs and the art of science communication, there are many ways to allow all visitors to get the most out of their visit and build links to the world around them.</p>
            <p>In this talk I will use my experience of being both a learning manager and museum manager at Thinktank Birmingham Science museum to tell you about the ways we build connections with visitor, plan new displays, and make sure we are answering the right questions.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
