/* LIST STYLE MIXINS ============================================================================= */

@mixin listStyle() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $style in $listStyle {
      @if $size == 'xl' {
        .list-#{$name} {
          list-style-type: $style;
        }
        @include placeholder(list-#{$name}) {
          list-style-type: $style;
        }
      } @else {
        @include mq($size) {
          .#{$size}-list-#{$name} {
            list-style-type: $style;
          }
        }
        @include placeholder(#{$size}-list-#{$name}) {
          list-style-type: $style;
        }
      }
    }
  }
}
