$colors: (
  french-rose: #EF496C,
  athens-grey: #F1F2F6,
  dodger-blue: #00B6FF,
  astronaut: #274C77,
  cloudburst: #1F2C41,
  white: #FFFFFF,
  black: #000000
);

$french-rose: #EF496C;
$athens-grey: #F1F2F6;
$dodger-blue: #00B6FF;
$astronaut: #274C77;
$cloudburst: #1F2C41;
$white: #FFFFFF;
$black: #000000;

