/* FONT DISPLAY MIXINS ============================================================================= */

@mixin fontDisplay() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $display in $textDisplay {
      @if $size == 'xl' {
        .font-#{$name} {
          font-display: $display;
        }
        @include placeholder(font-#{$name}) {
          font-display: $display;
        }
      } @else {
        @include mq($size) {
          .#{$size}-font-#{$name} {
            font-display: $display;
          }
        }
        @include placeholder(#{$size}-font-#{$name}) {
          font-display: $display;
        }
      }
    }
  }
}
