/* ORDER MIXINS ============================================================================= */

@mixin order() {
  @each $size, $breakpoint in $breakpoints {
    @if $size == 'xl' {
      @for $i from 1 through $orderCount {
        .order-#{$i} {
          order: $i;
        }
        @include placeholder(order-#{$i}) {
          order: $i;
        }
      }
    } @else {
      @include mq($size) {
        @for $i from 1 through $orderCount {
          .#{$size}-order-#{$i} {
            order: $i;
          }
        }
      }
      @for $i from 1 through $orderCount {
        @include placeholder(#{$size}-order-#{$i}) {
          order: $i;
        }
      }
    }
  }
}
