<section class="section about">
  <div class="container l-container sm-container">
    <div class="content align-items-start">
      <div class="section__header col-span-1 row-span-2">
        <h2 class="section__title">
          Origins
          <span class="section__stroke"></span>
        </h2>
      </div>
      <header class="about__header col-span-5 col-start-7 l-col-span-6 sm-col-span-5 sm-col-start-2 s-col-span-6 s-col-start-1">
        <h2 class="header-two">
          A bit about us&hellip;
        </h2>
      </header>
      <div class="about__copy col-span-5 col-start-7 l-col-span-6 sm-col-span-5 sm-col-start-2 sm-row-start-3 s-col-span-6 s-col-start-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a scelerisque urna,
        eu lacinia odio. Nunc congue turpis euismod justo rhoncus egestas. Donec mattis risus
        quam, eu tempus metus commodo vitae. Morbi tincidunt tincidunt tortor sit amet eleifend.
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a scelerisque urna,
          eu lacinia odio. Nunc congue turpis euismod justo rhoncus egestas. Donec mattis risus
          quam, eu tempus metus commodo vitae. Morbi tincidunt tincidunt tortor sit amet eleifend.
        </p>
      </div>
      <div class="about__image col-span-4 col-start-2 sm-col-span-4 sm-col-start-2 row-start-1 row-span-2 sm-row-span-1 sm-row-start-2 s-col-span-4 s-col-start-1">

      </div>
    </div>
  </div>
</section>
