<section class="section about">
  <div class="container l-container sm-container">
    <div class="content align-items-start" data-inview="1" data-offset="0">
      <div class="section__header col-span-1 row-span-2">
        <h2 class="section__title">
          Code of Conduct
          <span class="section__stroke"></span>
        </h2>
      </div>
      <header class="col-span-10 col-start-2 sm-col-span-6 sm-col-start-1">
        <h2 class="header-two">
          Code of Conduct
        </h2>
      </header>
      <div class="col-span-10 col-start-2 sm-col-span-6 sm-col-start-1 code-of-conduct">
        <p>
          Brum Tech Tapas is a community event intended for education and collaboration in the regional community around the West Midlands.
        </p>
        <p>
          We value the participation of each member of the local community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout our events.
        </p>
        <p>
          To make clear what is expected, all organisers, attendees, speakers and sponsors at any Brum Tech Tapas event are required to conform to the following Code of Conduct. Organisers will enforce this code throughout the event.
        </p>
        <h3>Our Standards</h3>
        <p>        
          Brum Tech Tapas is dedicated to providing a positive experience for everyone, regardless of age, gender identity and expression, sexual orientation, disability, physical appearance, body size, ethnicity, nationality, race, or religion (or lack thereof), education, or socio-economic status.
        </p>
        <p>
        <strong>Examples of behavior that contributes to creating a positive environment include:</strong>
        </p>

        <ul>
          <li>Being kind to others</li>
          <li>Behaving professionally</li>
          <li>Using welcoming and inclusive language</li>
          <li>Being respectful of differing viewpoints and experiences</li>
          <li>Gracefully accepting constructive criticism</li>
          <li>Focusing on what is best for the community</li>
          <li>Empathy towards other community members</li>
        </ul>

        <p><strong>Examples of unacceptable behavior by participants include:</strong></p>

        <ul>
          <li>Harassment of conference participants in any form</li>
          <li>Deliberate intimidation, stalking, or following</li>
          <li>Violent threats or language directed against another person</li>
          <li>Sexual language and imagery in any conference venue, including talks</li>
          <li>Insults or put downs</li>
          <li>Sexist, racist, homophobic, transphobic, ableist, or exclusionary jokes</li>
          <li>Excessive swearing</li>
          <li>Unwelcome sexual attention or advances</li>
          <li>Unwelcome physical contact</li>
          <li>Sustained disruption of talks or other events</li>
          <li>Other conduct that is inappropriate for a professional audience including people of many different backgrounds</li>
        </ul>

        <p>Participants asked to stop any inappropriate behavior are expected to comply immediately.</p>

        <p>If a participant engages in behavior that violates this code of conduct, the event organisers may take any action they deem appropriate, including warning the offender or expulsion from the event.</p>

        <p>Thank you for helping make this a welcoming, friendly event for all.</p>

        <h3>Scope</h3>

        <p>All Brum Tech Tapas attendees are subject to the Code of Conduct, whether sponsors, attendees, speakers and organisers.

        <h3>Contact Information</h3>

        <p>If you believe that someone is violating the code of conduct during a Brum Tech Tapas event, or have any other concerns, please contact an organiser immediately.</p>

        <p>In case of a conflict of interest, you can individually contact:</p>

        <h3>License</h3>

        <p>This Code of Conduct was forked from the <a href="https://github.com/python/pycon-code-of-conduct/blob/master/code_of_conduct.md">PyConUS Code of Conduct</a>, which in turn was forked from the example policy from the <a href="http://geekfeminism.wikia.com/wiki/Conference_anti-harassment/Policy">Geek Feminism wiki, created by the Ada Initiative and other volunteers</a>, which is under a Creative Commons Zero license.
        </p>
      </div>
    </div>
  </div>
</section>
