<section class="section event">
  <div class="container l-container sm-container">
    <div class="content relative grid-rows-3 s-grid-rows-4 align-items-start"
         data-inview="1" data-offset="0"
    >
      <div class="section__header col-span-1 row-span-3">
        <h2 class="section__title">
          Upcoming event
          <span class="section__stroke"></span>
        </h2>
      </div>
      <header class="event__header col-span-7 col-start-6 sm-col-span-4 sm-col-start-3 s-col-span-6 s-col-start-1 row-start-1 animation-transformX">
        <h2 class="header-two">
          March 2021
        </h2>
      </header>
      <time class="event__date col-span-5 col-start-6 sm-col-span-4 sm-col-start-3 s-col-span-5 s-col-start-1 row-start-2"
            datetime="2020-10-13">
        <span class="event__time animation-wrapper animation-width">
          25th March 2021, 7:00pm
        </span>
      </time>
      <a href="https://iron-house.co.uk" target="_blank"
         class="event__image col-span-4 col-start-4 m-col-span-5 m-col-start-3
                      sm-col-span-3 sm-col-start-1 s-col-span-6 s-col-start-1 row-start-1 row-span-3"
      >
        <div class="animation-wrapper animation-width bg-french-rose shadow-xl img">
          <img src="${require('@/images/ironhouse.png')}"
               alt="Iron House"
               class="width-full img__absolute img__multiply"
          />
        </div>
      </a>
      <div class="event__copy col-span-4 col-start-9 l-col-span-5 l-col-start-8 sm-col-span-4 sm-col-start-3
                        s-col-span-6 s-col-start-1 row-start-3 s-row-start-4 animation-transformX
            ">
        <p>Due to COVID, we’re launching online for now. In the future our events will be hosted at <a href="https://iron-house.co.uk/" target="_blank">Iron House Gallery</a> in the Jewellery Quarter.
        </p>
        <a href="https://www.eventbrite.co.uk/e/brum-tech-tapas-tickets-144621802705" target="_blank" class="link">Interested in attending?</a>
      </div>
    </div>
  </div>
</section>
