<section class="mast-head">
  <div class="container l-container sm-container">
    <div class="content">
      <header class="mast-head__header col-span-6 col-start-2 m-col-span-6 m-col-start-1 sm-col-span-5 s-col-span-6 animation-transform-X"
              data-inview="1" data-offset="0"
      >
        <h1 class="header-one">
          Bitesize culture from Brum's communities
        </h1>
      </header>
      <div class="mast-head__copy col-span-4 m-col-span-6 sm-col-span-5 sm-row-start-2 s-col-span-6 animation-transform-X"
           data-inview="1" data-offset="0"
      >
        <p>
          We love the Midlands because of its creative, eclectic, resilient people. We also love tech and how it can seamlessly weave into our lives and make things better for everyone.
          Brum Tech Tapas showcases the region’s amazing people from across the arts, crafts, science, tech and culture. Each one shares their own personal story. Welcome to Brum Tech Tapas, celebrating the people making a difference, whatever they do.
        </p>
      </div>
      <div class="mast-head__image col-span-10 col-start-2 m-col-span-12 m-col-start-1 sm-col-span-6"
           data-inview="1" data-offset="0"
      >
        <div class="animation-wrapper animation-width bg-athens-grey shadow-xl img">
          <picture>
            <source srcset="${require('@/images/birmingham.webp')}" type="image/webp" class="width-full img__absolute" >
            <source srcset="${require('@/images/birmingham.jpg')}" type="image/jpeg" class="width-full img__absolute" >
            <img src="${require('@/images/birmingham.jpg')}"
                 alt=""
                 class="width-full img__absolute" />
          </picture>
          <p class="mast-head__image-attribution">Photo by <a href="https://www.raphaellionelphotography.com/" target="_blank">Raphael Lionel Photography</a></p>
        </div>
      </div>
    </div>
  </div>
</section>
