<section class="mast-head">
  <div class="container l-container sm-container">
    <div class="content">
      <header class="mast-head__header col-span-6 col-start-2 m-col-span-6 m-col-start-1 sm-col-span-5 s-col-span-6">
        <h1 class="header-one">
          Bringing you tasty tech tidbits
        </h1>
      </header>
      <div class="mast-head__copy col-span-4 m-col-span-6 sm-col-span-5 sm-row-start-2 s-col-span-6">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean a scelerisque urna, eu lacinia odio. Nunc congue
          turpis euismod justo rhoncus egestas. Donec mattis risus quam,
          eu tempus metus commodo vitae. Morbi tincidunt tincidunt
          tortor sit amet eleifend.
        </p>
      </div>
      <div class="mast-head__image col-span-10 col-start-2 m-col-span-12 m-col-start-1 sm-col-span-6"
           data-inview="1" data-offset="0"
      >
        <div class="animation-wrapper animation-width bg-athens-grey shadow-xl img">
<!--          <img src="https://www.fillmurray.com/1440/900"-->
<!--               alt=""-->
<!--               class="width-full img__absolute"-->
<!--          />-->
        </div>
      </div>
    </div>
  </div>
</section>
