<section class="section speakers">
  <div class="container l-container sm-container">
    <div class="content">
      <div class="section__header col-span-1 row-span-3">
        <h2 class="section__title">
          Speakers
          <span class="section__stroke"></span>
        </h2>
      </div>
      <header class="speakers__header col-span-5 col-start-2 m-col-span-6 m-col-start-2 sm-col-span-6 sm-col-start-1 animation-transform-X"
              data-inview="1" data-offset="0"
      >
        <h2 class="header-two">Line up</h2>
      </header>
      <div class="speakers__intro col-span-5 col-start-2 m-col-span-6 m-col-start-2 sm-col-span-5 sm-col-start-1 s-col-span-6 animation-transform-X"
           data-inview="1" data-offset="0"
      >
        <p>This instalment we will explore resilience, connection and wellbeing through the eyes of our 3 speakers</p>
      </div>
      <div class="speakers__lineup col-span-10 col-start-3 m-col-span-11 m-col-start-2 sm-col-span-6 sm-col-start-1">
        <div class="speakers__item js-speakers__item col-span-5 sm-col-span-6 sm-row-start-4" data-overlay-id="angela-kumah"
          data-inview="1" data-offset="0"
        >
          <div class="speakers__image img col-span-3 col-start-1 row-start-1 row-span-3">
            <div class="animation-wrapper animation-width img bg-french-rose shadow-xl">
              <img src="${require('@/images/speakers/angela-kumah.jpg')}"
                   alt="Angela Kumah"
                   class="width-full img__absolute img__multiply"
              />
            </div>
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1 animation-transformX">
            <h3 class="header-four speakers__name">Angela Kumah</h3>
            <h4 class="header-five speakers__position">PhD researcher</h4>
          </div>
        </div>
        <div class="speakers__item js-speakers__item col-span-5 sm-col-span-6 sm-row-start-2" data-overlay-id="laurence-butler"
          data-inview="1" data-offset="0"
        >
          <div class="speakers__image col-span-3 col-start-1 row-start-1 row-span-3">
            <div class="animation-wrapper animation-width img bg-dodger-blue shadow-xl">
              <img src="${require('@/images/speakers/laurence-butler.jpg')}"
                   alt="Laurence Butler"
                   class="width-full img__absolute img__multiply"
              />
            </div>
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1 animation-transformX">
            <h3 class="header-four speakers__name">Laurence Butler</h3>
            <h4 class="header-five speakers__position">Engaging Audiences, Museum Style</h4>
          </div>
        </div>
        <div class="speakers__item js-speakers__item col-span-5 sm-col-span-6" data-overlay-id="chris-miller"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image col-span-3 col-start-1 row-start-1 row-span-3">
            <div class="animation-wrapper animation-width img bg-dodger-blue shadow-xl">
              <img src="${require('@/images/speakers/chris-miller.jpg')}"
                   alt="Christoper Miller"
                   class="width-full img__absolute img__multiply"
              />
            </div>
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1 animation-transformX">
            <h3 class="header-four speakers__name">Christopher Miller</h3>
            <h4 class="header-five speakers__position">Developer - Jump Twenty Four</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
