<section class="section speakers">
  <div class="container l-container sm-container">
    <div class="content">
      <div class="section__header col-span-1 row-span-3">
        <h2 class="section__title">
          Speakers
          <span class="section__stroke"></span>
        </h2>
      </div>
      <header class="speakers__header col-span-5 col-start-2 m-col-span-6 m-col-start-2 sm-col-span-6 sm-col-start-1 animation-transform-X"
              data-inview="1" data-offset="0"
      >
        <h2 class="header-two">Previous line up</h2>
      </header>
      <div class="speakers__intro col-span-5 col-start-2 m-col-span-6 m-col-start-2 sm-col-span-5 sm-col-start-1 s-col-span-6 animation-transform-X"
           data-inview="1" data-offset="0"
      >
        <p>Kicking us off for our first ever event was an outstanding set of speakers that we were thrilled to welcome.
        </p>
      </div>
      <div class="speakers__lineup col-span-10 col-start-3 m-col-span-11 m-col-start-2 sm-col-span-6 sm-col-start-1">
        <div class="speakers__item col-span-5 sm-col-span-6 sm-row-start-4" data-overlay-id="joe-schuppler"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image img col-span-3 col-start-1 row-start-1 row-span-3">
            <div class="animation-wrapper animation-width img bg-french-rose shadow-xl">
              <img src="${require('@/images/speakers/JoeSchuppler.png')}"
                   alt="Joe Schuppler"
                   class="width-full img__absolute img__multiply"
              />
            </div>
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1 animation-transformX">
            <h3 class="header-four speakers__name">Joe Schuppler</h3>
            <h4 class="header-five speakers__position">Founder, Independent Birmingham</h4>
          </div>
          <time class="speakers__date col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-2"
                datetime="2020-10-13">
            <a href="https://www.youtube.com/watch?v=2Hj6cwaqBlg" target="_blank" class="speakers__time bg-french-rose animation-wrapper animation-width">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/youtube.svg')}
              </span>
              Check out Joe's talk here
            </a>
          </time>
        </div>
        <div class="speakers__item col-span-5 sm-col-span-6 sm-row-start-2" data-overlay-id="victoria-barker"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image col-span-3 col-start-1 row-start-1 row-span-3">
            <div class="animation-wrapper animation-width img bg-dodger-blue shadow-xl">
              <img src="${require('@/images/speakers/drvictoriabarker.jpg')}"
                   alt="Dr Victoria Barker"
                   class="width-full img__absolute img__multiply"
              />
            </div>
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1 animation-transformX">
            <h3 class="header-four speakers__name">Dr Victoria Barker</h3>
            <h4 class="header-five speakers__position">Creative Ecosystems Researcher</h4>
          </div>
          <time class="speakers__date col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-2"
                datetime="2021-03-25"">
            <a href="https://www.youtube.com/watch?v=Porng9S0nRk" target="_blank" class="speakers__time bg-dodger-blue animation-wrapper animation-width">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/youtube.svg')}
              </span>
              Check out Victoria's talk here
            </a>
          </time>
        </div>
        <div class="speakers__item col-span-5 sm-col-span-6" data-overlay-id="fokawolf"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image col-span-3 col-start-1 row-start-1 row-span-3">
            <div class="animation-wrapper animation-width img bg-dodger-blue shadow-xl">
              <img src="${require('@/images/speakers/fokawolf.png')}"
                   alt="Foka Wolf"
                   class="width-full img__absolute img__multiply"
              />
            </div>
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1 animation-transformX">
            <h3 class="header-four speakers__name">Foka Wolf</h3>
            <h4 class="header-five speakers__position">Street Artist</h4>
          </div>
          <time class="speakers__date col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-2"
                datetime="2021-03-25">
            <a href="https://www.youtube.com/watch?v=h-sIFjkcs5" target="_blank" class="speakers__time bg-dodger-blue animation-wrapper animation-width">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/youtube.svg')}
              </span>
              Check out Foka Wolf's talk here
            </a>
          </time>
        </div>
        <div class="speakers__item col-span-5 sm-col-span-6 sm-row-start-3" data-overlay-id="casey-bailey"
        data-inview="1" data-offset="0"
        >
          <div class="speakers__image img col-span-3 col-start-1 row-start-1 row-span-3">
            <div class="animation-wrapper animation-width img bg-french-rose shadow-xl">
              <img src="${require('@/images/speakers/casey-bailey.jpg')}"
                    alt="Casey Bailey"
                    class="width-full img__absolute img__multiply"
              />
            </div>
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1 animation-transformX">
            <h3 class="header-four speakers__name">Casey Bailey</h3>
            <h4 class="header-five speakers__position">Birmingham Poet Laureate</h4>
          </div>
          <time class="speakers__date col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-2"
                datetime="2021-03-25"">
            <a href="https://www.youtube.com/watch?v=8UWYlw4KWMg" target="_blank" class="speakers__time bg-french-rose animation-wrapper animation-width">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/youtube.svg')}
              </span>
              Check out Casey's talk here
            </a>
          </time>
        </div>
      </div>
    </div>
  </div>
</section>
