<section class="section speakers">
  <div class="container l-container sm-container">
    <div class="content">
      <div class="section__header col-span-1 row-span-3">
        <h2 class="section__title">
          Speakers
          <span class="section__stroke"></span>
        </h2>
      </div>
      <header class="speakers__header col-span-5 col-start-2 m-col-span-6 m-col-start-2 sm-col-span-6 sm-col-start-1">
        <h2 class="header-two">The line up</h2>
      </header>
      <div class="speakers__intro col-span-5 col-start-2 m-col-span-6 m-col-start-2 sm-col-span-5 sm-col-start-1 s-col-span-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Aenean a scelerisque urna, eu lacinia odio. Nunc congue turpis
          euismod justo rhoncus egestas. Donec mattis risus quam, eu
          tempus metus commodo vitae Morbi tincidunt tincidunt tortor
          sit amet eleifend.
        </p>
      </div>
      <div class="speakers__lineup col-span-10 col-start-3 m-col-span-11 m-col-start-2 sm-col-span-6 sm-col-start-1">
        <div class="speakers__item col-span-5 sm-col-span-6" data-overlay-id="florence-okoye"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image img col-span-3 col-start-1 bg-french-rose row-start-1">
            <img src="${require('@/images/speaker.jpg')}"
                 alt=""
                 class="width-full img__absolute img__multiply"
            />
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1">
            <h3 class="header-four speakers__name">Florence Okoye</h3>
            <h4 class="header-five speakers__position">UX & Service designer, Natural History Museum</h4>
          </div>
        </div>
        <div class="speakers__item col-span-5 sm-col-span-6" data-overlay-id="rachel-andrew"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image img col-span-3 col-start-1 bg-dodger-blue row-start-1">
            <img src="${require('@/images/speaker.jpg')}"
                 alt=""
                 class="width-full img__absolute img__multiply"
            />
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1">
            <h3 class="header-four speakers__name">Rachel Andrew</h3>
            <h4 class="header-five speakers__position">Smashing Magazine Editor in Chief</h4>
          </div>
        </div>
        <div class="speakers__item col-span-5 sm-col-span-6 sm-row-start-4" data-overlay-id="leonie-watson"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image img col-span-3 col-start-1 bg-dodger-blue row-start-1">
            <img src="${require('@/images/speaker.jpg')}"
                 alt=""
                 class="width-full img__absolute img__multiply"
            />
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1"
               data-speaker="leonie-watson">
            <h3 class="header-four speakers__name">Léonie Watson</h3>
            <h4 class="header-five speakers__position">Director, TetraLogical</h4>
          </div>
        </div>
        <div class="speakers__item col-span-5 sm-col-span-6 sm-row-start-3" data-overlay-id="mike-smith"
             data-inview="1" data-offset="0"
        >
          <div class="speakers__image img col-span-3 col-start-1 bg-french-rose row-start-1">
            <img src="${require('@/images/speaker.jpg')}"
                 alt=""
                 class="width-full img__absolute img__multiply"
            />
          </div>
          <div class="speakers__title col-span-3 col-start-3 m-col-span-4 m-col-start-2 sm-col-start-3 row-start-1">
            <h3 class="header-four speakers__name">Mike Smith</h3>
            <h4 class="header-five speakers__position">Web Developer, Oxbotica</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
