/* BORDER RADIUS MIXINS ============================================================================= */

@mixin borderRadius() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $borderRadius in $borderRadius {
      @if $size == 'xl' {
        .radius-#{$name} {
          border-radius: $borderRadius;
        }
        @include placeholder(radius-#{$name}) {
          border-radius: $borderRadius;
        }
        .radius-top-#{$name} {
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
        }
        @include placeholder(radius-top-#{$name}) {
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
        }
        .radius-bottom-#{$name} {
          border-bottom-left-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
        @include placeholder(radius-bottom-#{$name}) {
          border-bottom-left-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
        .radius-right-#{$name} {
          border-top-right-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
        @include placeholder(radius-right-#{$name}) {
          border-top-right-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
        .radius-left-#{$name} {
          border-top-left-radius: $borderRadius;
          border-bottom-left-radius: $borderRadius;
        }
        @include placeholder(radius-left-#{$name}) {
          border-top-left-radius: $borderRadius;
          border-bottom-left-radius: $borderRadius;
        }
        .radius-top-left-#{$name} {
          border-top-left-radius: $borderRadius;
        }
        @include placeholder(radius-top-left-#{$name}) {
          border-top-left-radius: $borderRadius;
        }
        .radius-top-right-#{$name} {
          border-top-right-radius: $borderRadius;
        }
        @include placeholder(radius-top-right-#{$name}) {
          border-top-right-radius: $borderRadius;
        }
        .radius-bottom-left-#{$name} {
          border-bottom-left-radius: $borderRadius;
        }
        @include placeholder(radius-bottom-left-#{$name}) {
          border-bottom-left-radius: $borderRadius;
        }
        .radius-bottom-right-#{$name} {
          border-bottom-right-radius: $borderRadius;
        }
        @include placeholder(radius-bottom-right-#{$name}) {
          border-bottom-right-radius: $borderRadius;
        }
      } @else {
        @include mq($size) {
          .#{$size}-radius-#{$name} {
            border-radius: $borderRadius;
          }
          .#{$size}-radius-top-#{$name} {
            border-top-left-radius: $borderRadius;
            border-top-right-radius: $borderRadius;
          }
          .#{$size}-radius-bottom-#{$name} {
            border-bottom-left-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
          }
          .#{$size}-radius-right-#{$name} {
            border-top-right-radius: $borderRadius;
            border-bottom-right-radius: $borderRadius;
          }
          .#{$size}-radius-left-#{$name} {
            border-top-left-radius: $borderRadius;
            border-bottom-left-radius: $borderRadius;
          }
          .#{$size}-radius-top-left-#{$name} {
            border-top-left-radius: $borderRadius;
          }
          .#{$size}-radius-top-right-#{$name} {
            border-top-right-radius: $borderRadius;
          }
          .#{$size}-radius-bottom-left-#{$name} {
            border-bottom-left-radius: $borderRadius;
          }
          .#{$size}-radius-bottom-right-#{$name} {
            border-bottom-right-radius: $borderRadius;
          }
        }
        @include placeholder(#{$size}-radius-#{$name}) {
          border-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-top-#{$name}) {
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-bottom-#{$name}) {
          border-bottom-left-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-right-#{$name}) {
          border-top-right-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-left-#{$name}) {
          border-top-left-radius: $borderRadius;
          border-bottom-left-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-top-left-#{$name}) {
          border-top-left-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-top-right-#{$name}) {
          border-top-right-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-bottom-left-#{$name}) {
          border-bottom-left-radius: $borderRadius;
        }
        @include placeholder(#{$size}-radius-bottom-right-#{$name}) {
          border-bottom-right-radius: $borderRadius;
        }
      }
    }
    @if $size == 'xl' {
      .round {
        border-radius: 100%;
      }
      @include placeholder(round) {
        border-radius: 100%;
      }
      .radius-none {
        border-radius: 0;
      }
      @include placeholder(radius-none) {
        border-radius: 0;
      }
      .radius-top-none {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      @include placeholder(radius-top-none) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      .radius-bottom-none {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      @include placeholder(radius-bottom-none) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      .radius-right-none {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      @include placeholder(radius-right-none) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .radius-left-none {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      @include placeholder(radius-left-none) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      .radius-top-right-none {
        border-top-right-radius: 0;
      }
      @include placeholder(radius-top-right-none) {
        border-top-right-radius: 0;
      }
      .radius-top-left-none {
        border-top-left-radius: 0;
      }
      @include placeholder(radius-top-left-none) {
        border-top-left-radius: 0;
      }
      .radius-bottom-right-none {
        border-bottom-right-radius: 0;
      }
      @include placeholder(radius-bottom-right-none) {
        border-bottom-right-radius: 0;
      }
      .radius-bottom-left-none {
        border-bottom-left-radius: 0;
      }
      @include placeholder(radius-bottom-left-none) {
        border-bottom-left-radius: 0;
      }
    } @else {
      @include mq($size) {
        .#{$size}-round {
          border-radius: 100%;
        }
        .#{$size}-radius-none {
          border-radius: 0;
        }
        .#{$size}-radius-top-none {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
        .#{$size}-radius-bottom-none {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
        .#{$size}-radius-right-none {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .#{$size}-radius-left-none {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
        .#{$size}-radius-top-right-none {
          border-top-right-radius: 0;
        }
        .#{$size}-radius-top-left-none {
          border-top-left-radius: 0;
        }
        .#{$size}-radius-bottom-right-none {
          border-bottom-right-radius: 0;
        }
        .#{$size}-radius-bottom-left-none {
          border-bottom-left-radius: 0;
        }
      }
      @include placeholder(#{$size}-round) {
        border-radius: 100%;
      }
      @include placeholder(#{$size}-radius-none) {
        border-radius: 0;
      }
      @include placeholder(#{$size}-radius-top-none) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
      @include placeholder(#{$size}-radius-bottom-none) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      @include placeholder(#{$size}-radius-right-none) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      @include placeholder(#{$size}-radius-left-none) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
      @include placeholder(#{$size}-radius-top-right-none) {
        border-top-right-radius: 0;
      }
      @include placeholder(#{$size}-radius-top-left-none) {
        border-top-left-radius: 0;
      }
      @include placeholder(#{$size}-radius-bottom-right-none) {
        border-bottom-right-radius: 0;
      }
      @include placeholder(#{$size}-radius-bottom-left-none) {
        border-bottom-left-radius: 0;
      }
    }
  }
}
