.js .event__header {
  animation-delay: 0.4s;
  animation-duration: 0.6s;
}

.js .event__time {
  animation-delay: 0.6s;
  animation-duration: 0.8s;
}

.js .event__copy {
  animation-delay: 0.8s;
  animation-duration: 0.6s;
}

.js .event__image .animation-wrapper {
  animation-duration: 0.6s;
  animation-delay: 0.2s;
}

