.js .animation-width {
  transform-origin: left;
  width: 0;
}

.js .animation-transform-X {
  @extend .opacity-0;
  transform-origin: left;
  transform: translateX(-60px);
}

.js .animation-transformX {
  @extend .opacity-0;
  transform-origin: left;
  transform: translateX(60px);
}

.js .animation-label {
  @extend .opacity-0;
  transform-origin: top left;
  transform: translateY(40px);
}

.js .in-view .animation-width,
.js .in-view.animation-width {
  @extend .overflow-hidden;
  animation-name: width;
  animation-fill-mode: forwards;
  transition: width 0.3s ease-in-out;
}

.js .in-view .animation-transform-X,
.js .in-view.animation-transform-X {
  animation-name: transform-X;
  animation-fill-mode: forwards;
  transition: transform 0.3s ease-in-out;
}

.js .in-view .animation-transformX,
.js .in-view.animation-transformX {
  animation-name: transformX;
  animation-fill-mode: forwards;
  transition: transform 0.3s ease-in-out;
}

.js .in-view .animation-label,
.js .in-view.animation-label {
  animation-name: label;
  animation-fill-mode: forwards;
  transition: transform 0.3s ease-in-out;
}

.js .in-view .animation-btn-width,
.js .in-view.animation-btn-width {
  @extend .overflow-hidden;
  animation-name: formBtn;
  animation-fill-mode: forwards;
  transition: width 0.3s ease-in-out;
}
