.js .mast-head__header,
.js .mast-head__copy {
  animation-duration: 0.8s;
}

.js .mast-head__header {
  animation-delay: 0.2s;
}

.js .mast-head__copy {
  animation-delay: 0.4s;
}

.js .mast-head__image .animation-wrapper {
  animation-duration: 0.8s;
  animation-delay: 0.2s;
}

