/* LIST POSITION MIXINS ============================================================================= */

@mixin listPosition() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $listPosition in $listPosition {
      @if $size == 'xl' {
        .list-#{$name} {
          list-style-position: $listPosition;
        }
        @include placeholder(list-#{$name}) {
          list-style-position: $listPosition;
        }
      } @else {
        @include mq($size) {
          .#{$size}-list-#{$name} {
            list-style-position: $listPosition;
          }
        }
        @include placeholder(#{$size}-list-#{$name}) {
          list-style-position: $listPosition;
        }
      }
    }
  }
}
