/* TEXT DECORATION MIXINS ============================================================================= */

@mixin decoration() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $decoration in $textDecoration {
      @if $size == 'xl' {
        .text-#{$name} {
          text-decoration: $decoration;
        }
        @include placeholder(text-#{$name}) {
          text-decoration: $decoration;
        }
      } @else {
        @include mq($size) {
          .#{$size}-text-#{$name} {
            text-decoration: $decoration;
          }
        }
        @include placeholder(#{$size}-text-#{$name}) {
          text-decoration: $decoration;
        }
      }
    }
  }
}
