/* VERTICAL ALIGN MIXINS ============================================================================= */

@mixin verticalAlign() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $valign in $verticalAlign {
      @if $size == 'xl' {
        .valign-#{$name} {
          vertical-align: $valign;
        }
        @include placeholder(valign-#{$name}) {
          vertical-align: $valign;
        }
      } @else {
        @include mq($size) {
          .#{$size}-valign-#{$name} {
            vertical-align: $valign;
          }
        }
        @include placeholder(#{$size}-valign-#{$name}) {
          vertical-align: $valign;
        }
      }
    }
  }
}
