<footer class="site-footer overflow-hidden bg-athens-grey">
  <div class="container l-container sm-container">
    <div class="content">
      <div class="site-footer__copyright col-span-4 col-start-1 sm-col-span-6">
        <p>
          Created with care
          <span class="icon icon--heart">
            ${require('@/svgs/heart.svg')}
          </span>
          by Jump24 &copy; 2021
        </p>
      </div>
      <ul class="site-footer__links col-span-4 sm-col-span-6">
        <li>
          <a href="/code-of-conduct" target="_blank">Code of conduct</a>
        </li>
<!--        <li>-->
<!--          <a href="" target="_blank">Sponsors pack</a>-->
<!--        </li>-->
      </ul>
      <div class="site-footer__social col-span-4 sm-col-span-6">
        <ul class="social flex align-items-center justify-content-end s-justify-content-start">
          <li class="social__item">
            <a href="https://twitter.com/brumtechtapas" rel="noreferrer" class="social__link" target="_blank">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/twitter.svg')}
              </span>
            </a>
          </li>
          <li class="social__item">
            <a href="https://www.youtube.com/channel/UCfHz83ebHxigvrO34niW4iw" rel="noreferrer" class="social__link" target="_blank">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/youtube.svg')}
              </span>
            </a>
          </li>
          <li class="social__item">
            <a href="https://www.twitch.tv/brumtechtapas" rel="noreferrer" class="social__link" target="_blank">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/twitch.svg')}
              </span>
            </a>
          </li>
          <li class="social__item">
            <a href="https://jump24.co.uk/" rel="noreferrer" class="social__link" target="_blank">
              <span class="social__icon social__icon--small">
                ${require('@/svgs/jump24-logo.svg')}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
</footer>
