<footer class="site-footer overflow-hidden sm-bg-athens-grey">
  <div class="container l-container sm-container">
    <div class="content">
      <div class="site-footer__wrapper col-span-11 col-start-2 sm-col-span-6 sm-col-start-1 bg-athens-grey">
        <div class="site-footer__copyright col-span-5 col-start-2 sm-col-span-4 sm-col-start-1 s-col-span-6">
          <p>
            Created with care
            <span class="icon icon--heart">
              ${require('@/svgs/heart.svg')}
            </span>
            by Jump24 &copy; 2021
          </p>
        </div>
        <div class="site-footer__social col-span-5 sm-col-span-2 s-col-span-6">
          <ul class="social flex align-items-center justify-content-end s-justify-content-start">
            <li class="social__item">
              <a href="https://twitter.com/brumtechtapas" class="social__link" target="_blank">
                <span class="social__icon social__icon--small">
                  ${require('@/svgs/twitter.svg')}
                </span>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link" target="_blank">
                <span class="social__icon social__icon--small">
                  ${require('@/svgs/youtube.svg')}
                </span>
              </a>
            </li>
            <li class="social__item">
              <a href="" class="social__link" target="_blank">
                <span class="social__icon social__icon--small">
                  ${require('@/svgs/twitch.svg')}
                </span>
              </a>
            </li>
            <li class="social__item">
              <a href="https://jump24.co.uk/" class="social__link" target="_blank">
                <span class="social__icon social__icon--small">
                  ${require('@/svgs/jump24-logo.svg')}
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
