<header class="site-header">
  <div class="container l-container sm-container">
    <div class="content align-items-center">
      <a href="/" title="Brum Tech Tapas" class="site-branding col-span-6 sm-col-span-2 s-col-span-3">
        <span class="sm-hidden">${require('@/svgs/logo.svg')}</span>
        <span class="hidden sm-flex">${require('@/svgs/logo-mark.svg')}</span>
      </a>
      <nav class="site-nav col-span-6 sm-col-span-4 s-col-span-3 inline-flex justify-content-end">
        <ul class="site-menu">
          <li class="site-menu__item">
            <a href="/#contact"
               title="Get involved with Brum Tech Tapas"
               class="site-menu__link link"
            >
              Get involved
            </a>
          </li>
          <li class="site-menu__item">
            <a href="/code-of-conduct.html"
            title="View our code of conduct"
            class="site-menu__link link"
         >
           Code of Conduct
         </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
