$listStyle: (
  disc: disc,
  circle: circle,
  decimal: decimal,
  decimal-leading-zero: decimal-leading-zero,
  lower-alpha: lower-alpha,
  upper-alpha: upper-alpha,
  lower-roman: lower-roman,
  upper-roman: upper-roman,
  none: none,
);
