.section__header {
  @extend .inline-flex,
  .flex-col,
  .align-items-start;

  @include mq(sm) {
    @extend .sm-hidden;
  }
}

.section__title {
  @extend .body-medium,
  .font-sofia-med,
  .inline-flex,
  .flex-row-reverse,
  .align-items-center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);
}

.section__stroke {
  @extend .flex,
  .bg-french-rose,
  .margin-bottom-20;
  width: 2px;
  height: 50px;
}
