/* BG COLOUR MIXINS ============================================================================= */

@mixin color() {
  @each $size, $breakpoint in $breakpoints {
    @each $name, $color in $colors {
      @if $size == 'xl' {
        .color-#{$name} {
          color: $color;
        }
        @include placeholder(color-#{$name}) {
          color: $color;
        }
      } @else {
        @include mq($size) {
          .#{$size}-color-#{$name} {
            color: $color;
          }
        }
        @include placeholder(#{$size}-color-#{$name}) {
          color: $color;
        }
      }
    }
  }
}

@mixin colorRgba() {
  $rgba: 10;
  @for $i from 0 through $rgba {
    @each $size, $breakpoint in $breakpoints {
      @each $name, $color in $colors {
        @if $size == 'xl' {
          .color-#{$name}-#{$i} {
            $rgba: $i / 10;
            color: rgba($color, $rgba);
            $rgba: $i * 10;
          }
          @include placeholder(color-#{$name}-#{$i}) {
            $rgba: $i / 10;
            color: rgba($color, $rgba);
            $rgba: $i * 10;
          }
        } @else {
          @include mq($size) {
            .#{$size}-color-#{$name}-#{$i} {
              $rgba: $i / 10;
              color: rgba($color, $rgba);
              $rgba: $i * 10;
            }
          }
          @include placeholder(#{$size}-color-#{$name}-#{$i}) {
            $rgba: $i / 10;
            color: rgba($color, $rgba);
            $rgba: $i * 10;
          }
        }
      }
    }
  }
}
